.content {
  display: flex;
  float: right;
  align-items: center;
  min-height: 100vh;
  width: calc(100% - 300px);
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
  overflow-y: auto;

  
}

h1 {
  font-size: 32px;
  color:hsl(209.8deg 100% 29.61%);
}

input {
  padding: 10px 15px;
  border: 1px solid hsl(209.8deg 100% 29.61%);
}

body {
  overflow: hidden;
  
}

form:has(.table) {
  min-width: calc(80%);
}

.table, .tbody, th, td, tr {
  border: 1px solid #333;
  border-collapse: collapse;
}

.table th {
  padding: 8px 15px;
}

.table td {
  padding-block: 20px;
  padding-left: 10px;
}

.table {
  width: 100%;
}

.thead {
  font-weight: 500;
  font-size: 16px;
  color: hsl(209.8deg 100% 29.61%);
}

.thead th {
  text-align: center;
}

.tbody tr:nth-child(odd) {
  background-color: #81acd794;
}

.btn-actions {
  display: flex;
  padding-block: 20px;
  padding-inline: 10px;
  justify-content: center;
  gap: 10px;
  border: 0px;
}

.img-logo {
  width: 25px;
  height: auto;
}

.footer-table {
  width: 80%;
}

.paginator {
  display: flex;
  gap: 10px;
}

.actions{
  display: flex;
  justify-content: center;
  gap: 25px;
  height: 56px;
}