form {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  text-align: center;
  margin-left: 200px;
  margin-top: 100px;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: hsl(209.8, 100%, 29.61%);
  font-size: 50px;
}

.btns {
  margin-bottom: 15px;
}

.btns label {
  margin-right: 15px;
}

.btns input,
.btns select {
  flex: 3;
  padding: 5px;
  margin-bottom: 6px;
  font-size: 14px;
  background-color: #F7F9F9;
  border: 1px solid hsl(209.8, 100%, 29.61%);
  border-radius: 3px;
}

.texto{
  margin-left: 370px;
}

span1{
  font-size: 12px;
}

.btns input[type="file"] {
  display: none;
}

.btns span {
  margin-left: 10px;
  font-size: 12px;
  color: red;
}

.imagen-span {
      border: 1px solid hsl(209.8, 100%, 29.61%);
      margin-left: 100px;
      padding: 5px;
      display: inline-block;
      color: #eee;
    }

.btns p {
  color: red;
  font-size: 15px;
  margin-top: 10px;
}



/* Estilos específicos */

.selectBox {
  flex: 1;
  position: relative;
  display: inline-block;
  margin-bottom: 2px;
}

.selectBox select {
  width: 110%;
  padding: 5px;
  font-size: 14px;
  background-color: #F7F9F9;
  border: 1px solid hsl(209.8, 100%, 29.61%);
  border-radius: 3px;
}

.btns button {
  padding: 10px 20px;
  background-color: hsl(209.8, 100%, 29.61%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.btns button:last-child {
  margin-right: 0;
}

.button-container {
  display: flex;
  justify-content: center;
}
