*{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.content{
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  margin-top: 50px;
  gap: 30px;
  
}
h1{
  font-size: 32px;
  color:hsl(209.8deg 100% 29.61%);
}

input{
  padding: 10px 15px;
  border: 1px solid hsl(209.8deg 100% 29.61%);
}

body{
  overflow: hidden;
  
}
table{
  text-align: center;
  min-width: 900px;
  border: 1px solid hsl(209.8deg 100% 29.61%);

}

table .thead th{
  border-bottom: 1px solid hsl(209.8deg 100% 29.61%);
}

table td{
  border-left: 1px solid hsl(209.8deg 100% 29.61%);
}

table tr td:nth-child(1){
  border-left:none;
}
.actions{
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 56px;
}