.body {
  font-family: 'Poppins', sans-serif;
  background-color: #F7F9F9;
  padding: 50px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #F7F9F9;
  padding: 20px;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: hsl(209.8, 100%, 29.61%);
  font-size: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-box .group {
  margin-right: 10px;
}

.input-box .group label {
  display: block;
  margin-bottom: 5px;
}

.input-box .group input[type="text"],
.input-box .group input[type="password"] {
  width: 100%;
  padding: 5px;
  font-size: 10px;
  background-color:#F7F9F9;
  border: 1px solid hsl(209.8, 100%, 29.61%);
}

.group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.group label {
  margin-right: 5px;
}

.group input[type="radio"] {
  margin-right: 5px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btns button {
  padding: 10px 20px;
  background-color: hsl(209.8, 100%, 29.61%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.btns button:last-child {
  margin-right: 0;
}

label span {
  color: red;
}

p{
  color: red;
}

