*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.d-none {
    display: none;
}

body{
    background: #f0f8fe;
}

.dropdown:hover{
  width: 300px;
  transition: all 0.5s ease;
}

.logo{
  top: 20px;
  text-align: center;
  display: flex;
  
  
  margin-bottom: 70px;
}

.logo img{
  width: 125px;
  height: 125px;
  margin-right: 105px;
  border-radius: 10%;
}

.logo span{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 30px;
  margin-left: -105px;
  font-size: 20px;
  text-transform: uppercase;
}


.nav__icon{
    width: 50px;
    display: block;
    transition: all 0.5s ease;
}

.dropdown{
    position: fixed;
    background-color: #1C4C96;
    width: 100%;
    max-width: 270px;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1em;


    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow: hidden;



    transition: width 0.5s linear;
}

.dropdown__list{
    
    cursor: pointer;
}

.dropdown__link{
    color: rgb(255, 255, 255);
    padding: 0em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #f4f8f7;
    text-decoration: none;
}
